---
import Layout from '../../../layouts/Layout.astro';

const title = `Tools and automations`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">hola</section>
</Layout>
